---
name: dbus-python-client-gen CI

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  development_environment_checks:
    strategy:
      matrix:
        include:
          - dependencies: black python3-isort
            task: make -f Makefile fmt-travis
          - dependencies: yamllint
            task: make -f Makefile yamllint
          - dependencies: pylint python3-into-dbus-python
            task: PYTHONPATH=./src make -f Makefile lint
          - dependencies: python3-into-dbus-python
            task: PYTHONPATH=./src make -f Makefile test
          - dependencies: python3-coverage python3-into-dbus-python
            task: PYTHONPATH=./src make -f Makefile coverage
    runs-on: ubuntu-latest
    container: fedora:39  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: >
          dnf install -y
          make
          ${{ matrix.dependencies }}
      - name: ${{ matrix.task }}
        run: ${{ matrix.task }}

  lowest_environment_checks:
    strategy:
      matrix:
        include:
          - dependencies: pylint python3-into-dbus-python
            task: PYTHONPATH=./src make -f Makefile lint
          - dependencies: python3-into-dbus-python
            task: PYTHONPATH=./src make -f Makefile test
          - dependencies: python-setuptools python3-into-dbus-python
            task: make legacy-package
    runs-on: ubuntu-latest
    container: fedora:34  # LOWEST DEVELOPMENT ENVIRONMENT
    steps:
      - name: Display Python version
        run: python3 --version
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: >
          dnf install -y
          make
          ${{ matrix.dependencies }}
      - name: ${{ matrix.task }}
        run: ${{ matrix.task }}
